@model WIPStats.Models.BacklogViewModel
@{
    ViewBag.Title = "WIP Stats";
}
<h2>@Model.Project.Name @ViewBag.Title</h2>
<style>
    table { border-collapse: collapse; }
    td, th { border: 1px solid #999; padding: 0.5rem; text-align: left; }
    .thickBottomBorder { border-bottom: 10px solid #999; }
</style>
@Html.ActionLink("Home", "Index")
<table>
    <thead>
        <tr>
            <th></th>
            <th>Stories</th>
            <th>Features</th>
            <th>Points</th>
            <th>Notes</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Total</td>
            <td>@Model.TotalStories</td>
            <td>@Model.TotalFeatures</td>
            <td>@Model.TotalPoints</td>
            <td></td>
        </tr>
        <tr class="thickBottomBorder">
            <td>Average</td>
            <td>@Model.AverageStories</td>
            <td>@Model.AverageFeatures</td>
            <td>@Model.AveragePoints</td>
            <td>From start of Sprint x (when Dan Junior started)</td>
        </tr>
        @foreach (var sprint in @Model.Sprints) {
            <tr>
                <td>Sprint @sprint.IterationNumber</td>
                <td>@sprint.Stories</td>
                <td>@sprint.Features</td>
                <td>@sprint.Points</td>
                <td>WIP limited</td>
            </tr>
        }
    </tbody>
</table>
<h4>Notes</h4>
<ul>
    <li>Tabs for each backlog (Feature, Platform, Support at least)</li>
    <li>x is different for each backlog</li>
    <li>Top Sprint row is the last completed one; Sprint x is the bottom one</li>
</ul>
<ul>
    <li>Show tom
        <ul>
            <li>Test coverage</li>
            <li>Story type bug</li>
            <li>Check limit bug</li>
            <li>Uncommited files</li>
        </ul>
    </li>
    <li>remove notes</li>
</ul>
<h4>Nice to have</h4>
<ul>
    <li>Notes can be edited and saved</li>
    <li>Hover over Sprint name displays list of the names accepted stories<ul>
        <li>Names link to pivotal</li></ul>
    </li>
    <li>Ability to switch to a graph view<ul>
        <li>My idea: y is count of points or stories; x is time split into sprints, maybe adjustable</li><li>
            Look at cumulative flow diagram/burn-up chart </li>
    </ul>
    </li>
</ul>
